/**
 *
 * STYLE: Melissa GLOBAL
 *
 */

// CONTACT ME GRAVITY FORM 
#gform_wrapper_11 {

    .gfield {
        padding-right: 0;
    }

    #input_11_3 {
        // border: 1rem dotted blue;
        margin-right: .2rem !important;
        width: 95%;
    }

    input {
        // border: 1rem dotted blue;
        padding: 2rem !important;
    }

    textarea {
        margin-top: 1.7rem;
        padding: 2rem !important;
        height: 300px;
    }

    #gform_submit_button_11 {
        width: 100%;
        box-shadow: 2px 2px 5px gray;
        text-transform: uppercase;
        font-weight: 700;
    }
} 

// MARKET REPORT GRAVITY FORM 

#gform_wrapper_12 {

    .gfield {
        padding-right: 0;
    }

    input {
        // border: 1rem dotted blue;
        padding: 1.5rem !important;
    }

    #field_12_2 {
        border: 1px solid $cg-primary;
        padding: 1.5rem;
        background-color: #276BAF;

        #input_12_2 {
            border: 1px dotted blue;
            // outline: white;
            // color: white !important;
            
        }

        
    }

    #gform_submit_button_12 {
        width: 100%;
        box-shadow: 2px 2px 5px gray;
        text-transform: uppercase;
        font-weight: 700;
    }
} 


















